{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Patrick Bope">
    <meta name="description" content="This is an example of app that estimate the impact of convid -19. The esult provide the severe and the normal impact.">
    <title>{% block title %} HOME | Welcome {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'convidapp/css/index.css' %}" >
    <style>
        body {
            background: linear-gradient(rgba(7, 7, 7, 0.8), rgba(7, 7, 7, 0.8));
            background-color: #202020;
            background-size: cover;
        }
    </style>
    <script type="text/javascript">
        /* contents of a small JavaScript file */
      </script>
</head>
<body >
    
    {% block content %}
    {% endblock %}
    
</body>
</html>