{% extends 'base.html' %}
{% block content %}

<div class="container">  
    <form id="contact" action="" method="post">
      <h3>COVID 2019 ESTIMATOR</h3>
      <hr>
      <br>
      <fieldset>
        <label for ="Period" >Period Type</label>
            
        <select id="Period"  size="0" name="data-period-type">
            <option value="Days" selected="selected">Days</option>
            <option value="Weeks">Weeks</option>
            <option value="Weeks">Months</option>  
        </select>
      </fieldset>
      <fieldset>
        <label for= "TImetoElpase" >Time To Elapse</label>
        <input id="TImetoElpase" value="Time To Elapse" name="data-time-to-elapse" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <label for="ReportedCases" >Reported Cases</label>
        <input id="ReportedCases" type="text" value="Reported Cases" name="data-reported-cases"tabindex="2" required>
      </fieldset>
      <fieldset>
        <label for="Population" >Population</label>
        <input id="Population" type="text" value="Population" name="data-population" tabindex="3" required>
      </fieldset>
      <fieldset>
        <label for="HospitalBeds" >Total Hospital Beds</label>
        <input id="HospitalBeds" type="text" value="Total Hospital Beds" name="data-total-hospital-beds" tabindex="4" required>
      </fieldset>
      <fieldset>
        <label for="Estimate" ></label>
        <input id="Estimate" type="button"  value="Estimate" name="data-go-estimate">
      </fieldset>
      <p class="copyright">Designed by <a href="/" target="_blank" title="Colorlib">Patrick Bope. </a> Copyright &copy; 2019 Convid-19-Estimataor.</p>
    </form>
  </div>
    


{% endblock %}
