{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-danger text-center mt-4 mb-5">Covid-19 Impact Estimator</h2>
    <div class="row">
        <form class="col-md-4 mb-5 p-3 bg-white text-danger border border-danger rounded">
      
            <div class="col-md-6 border-black rounded">
              <div class="row ">
                <div class="form-group">
                  <label for="PeriodType">Period Type</label>
                      <div class="input-group">
                          <select class="custom-select form-control" id="PeriodType">
                              <option value="" selected disabled hidden>Choose..</option>
                              <option value=Days>Days</option>
                              <option value=Weeks>Weeks</option>
                              <option value=Months>Months</option>
                          </select>
                      </div>
                </div>
              </div>
              <div class="row">
                  <div class="form-group">
                    <label for="timeToElapse">Time to Elapse</label>
                    <input type="text" class="form-control" placeholder="" id="timeToElapse">
                  </div>
          
          
              </div>
              <div class="row ">
                  <div class="form-group">
                    <label for="population">Population</label>
                    <input type="text" class="form-control" placeholder="" id="population">
                  </div>
              </div>
              <div class="row">
                    <div class="form-group">
                      <label for="ReportedCases">Reported Cases</label>
                      <input type="text" class="form-control" placeholder="" id="ReportedCases">
                    </div>
              </div>
              <div class="row">
                  <div class="form-group">
                    <label for="totalHospitalBeds">Total Hospital Beds</label>
                    <input type="text" class="form-control" placeholder="" id="totalHospitalBeds">
                  </div>
              </div>
             
            </div>
        
        
            <button type="submit" class="btn btn-primary" id="data-go-estimate">Estimate</button>
        </form>
        <div class="col-md-8 mb-5 p-3 bg-white text-danger border border-danger rounded">

        </div>

    </div>
    
    
</div>


   


{% endblock %}
